<!-- {% extends 'base.html' %}
 -->
{% block navs %}
    {# leave this block empty to remove the navbar #}
{% endblock %}

{% block content %}

<div class="container mt-4">
    
    <div class="p-4 m-4">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img 
                src="" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8">Hi Player </div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Hi player</h3>
            <form action="/signup" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Age</label>
                    <input type="text" name="age" 
                    id="" class="form-control form-control-sm"
                    value="{{values.age}}"
                    placeholder="Enter your age"
                    >
                </div>
                
              
                <div class="form-group">
                    <a href="{% url 'base' %}" class="btn btn-primary">Choose matrix </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
